<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"
          [text]="Back"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let blogdetail of blogdetail">
        <ion-img [src]="blogdetail._embedded['wp:featuredmedia']['0'].source_url"></ion-img>
      
        <ion-card-content>
          <p [innerHTML]="blogdetail.content.rendered"></p>
        </ion-card-content>
    </ion-card>     
</ion-content>
